body {
    margin: 0px;
    font-family: "Quicksand", sans-serif;
    background-color: #a3b18a;
}

.navbar {
    background-color: #dad7cd;
    display: flex;
    align-items: center;
    height: 30px;
    position: fixed;
    width: 100%;
}

#blogs {
    padding: 10px;
}

#form {
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #588157;
}